<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MSPR Festival</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div class="container" id="main">
        <header>
            <div class="topbar">
                <h1>MSPR festival</h1>
                <nav>
                    <i class="fas fa-bars burger"></i>
                    <ul>
                        <li @click="getProgramme()">Programmes</li>
                        <li a="#">Billeterie</li>
                        <li a="#">Informations pratiques - FAQ</li>
                        <li a="#">Varte interactive</li>
                        <li a="#">Photos</li>
                        <li a="#">Partenaires</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="row" v-if="affichage.listeArtistes">
            <button v-on:click="recuperedArtistes" class="col-12 mb-4 btn btn-secondary">Artiste</button>
            <div v-for="artiste in artistes" class="d-none col-12 col-sm-6 col-lg-4 d-block mb-4">
                <div class="">
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <h5 class="card-title mb-3" v-html="artiste.acf.nom"></h5>
                            <p v-html="artiste.acf.nationalite"></p>
                            <button @click="getArtiste()">Plus</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="affichage.Artiste">
            Artistes
        </div>

        <div v-if="affichage.Programme">
            <button @click="recuperedProgrammationVendredi" class="btn">Vendredi</button>
            <button @click="recuperedProgrammationDimanche" class="btn">Dimanche</button>
            <button @click="recuperedProgrammationSamedi" class="btn">Samedi</button>

            <div v_if="affichage.programmeVendredi">
                <div v-for="programmeVendredi in programmesVendredi" >
                    <p v-html="programmeVendredi.acf.artiste"></p>
                    <p v-html="programmeVendredi.acf.horaire"></p>
                    <p v-html="programmeVendredi.acf.scene"></p>
                </div>
            </div>

            <div v-for="programmeSamedi in programmesSamedi">
                <p v-html="programmeSamedi.acf.artiste"></p>
                <p v-html="programmeSamedi.acf.horaire"></p>
                <p v-html="programmeSamedi.acf.scene"></p>
            </div>
            <div v-for="programmeDimanche in programmesDimanche">
                <p v-html="programmeDimanche.acf.artiste"></p>
                <p v-html="programmeDimanche.acf.horaire"></p>
                <p v-html="programmeDimanche.acf.scene"></p>
            </div>

        </div>

    </div>

    <footer>
    </footer>
    <script type="text/javascript" src="vuejs.js"></script>

</body>

</html>